//* BODY STYLES GO HERE *//

//* Universals *//
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1,
h2,
h3 {
    font-family: Georgia,serif;
    line-height: 30px;
}

a {
    transition: all .2s ease-out;
}

hr {
    margin-bottom: 5px;
    margin-top: 0;
}

//* Universal box shadow *//

.box-shadow {
    box-shadow: 0 1px 3px 0 #444;
}

.box-shadow-bottom {
    box-shadow: 1px 0 3px 0 #444;
}

//* HEADER, FOOTER STYLES GO HERE *//

//* Properties for both header, footer *//
.header-footer {
    background-color: #404040;
    color: #333;
    font-size: 17px;
    position: fixed;
    width: 100%;
    z-index: 9;
}

//* H1 styles *//
#header-footer-geocoder h1,
#legend h1,
.description_box_text h1,
.popup_header {
    font-family: Georgia;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    margin: 0;
    margin-bottom: 5px;
}

.popup_header {
    background-color: #eee;
    padding: 10px 0 10px 5px;
    border-bottom: 1px dotted #333;
}

.popup_box_header {
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
}

//* Description, popup boxes *//
.toggle_description,
.toggle_popup {
    display: none;
    float: right;
    font-size: 16px;
    padding: 10px;
    position: relative;
    z-index: 9;
}

.toggle_description {
    float: right;
    margin: 5px;
    right: 0;
    top: 0;
}

.description_box_cover,
.popup_cover {
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 12;
}

.description_box_cover {
    background-color: #333;
    background-color: rgba(33, 33, 33, .9);
}

.popup_cover {
    background-color: rgba(66, 66, 66, .6);
}

.description_box,
.popup {
    background-color: #fff;
    border: 1px solid #999;
    display: none;
    overflow: scroll;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    position: absolute;
    z-index: 13;
}

.description_box {
    height: 96%;
    left: 1%;
    top: 1%;
    width: 96%;
}

.popup {
    bottom: 9%;
    height: 80%;
    left: 10%;
    right: 10%;
    top: 9%;
    width: 78%;
    z-index: 14;
}

//* Close button *//

.x_button {
    float: right;
    text-shadow: 0 1px 2px 0 #444;
}


// Return to top nav box
#footer-table {
    display: none;
    <% if (templateMap) { %>bottom: 4%;<% } else { %>bottom: 0;<% } %>
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    border-bottom: 0px solid #FFF;
    -moz-box-shadow: 0 10px 10px #cccccc;
    box-shadow: 0 0px 3px 0 #444444;
    border-top: 1px solid #ccc;
    cursor: pointer;
}