//* Styles for larger screens *//
@media (max-width: 900) {
    #legend_second_paragraph {
        display: none;
    }
}

@media (max-width: 800) {
    #legend h1 {
        font-size: 18px;
    }
}

@media (max-width: 700) {
    #legend h1 {
        font-size: 16px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }
    
    p {
        font-size: 13px;
    }
}


//* Styles from mobile devices *//
@media (max-width: 625px) {
    //* Headers *//
    h1,
    h2,
    h3 {
        line-height: 20px;
    }

    //* Social buttons *//
    #share {
        display: none;
    }

    <% if (templateMap) { %>//* Map *//
    #map {
        border: 0 solid #737373;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }

    //* Legend *//
    #legend,
    #hide_show_legend {
        display: none;
    }

    #legend_second_paragraph,
    #legend_paragraph_mobile_only {
        display: inline;
    }<% } %>

    //* Description, popup boxes *//
    .popup {
        height: 96%;
        width: 96%;
        left: 1%;
        right: 1%;
        top: 1%;
        bottom: 1%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
    
    .description_box {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;  
    }

    .description_box_header h3,
    .popup_header h3  {
        line-height: 25px;
    }

    .toggle_description {
        display: inline;
    }

    .popup_header h3 {
        font-size: 18px;
    }

    //* Header, footer, geocoder *//
    <% if (templateMap) { %>#mobile_header {
        border-bottom: 1px solid #fff;
        border-width: 0 0 1px;
        display: inline;
        height: auto;
        float: left;
        left: 0;
        margin-top: 0;
        right: 0;
        color: #fff;
        position: relative;
    }

    #header-footer-geocoder {
        bottom: 0;
        border-top: 1px solid #fff;
        border-bottom: 0;
    }

    //* Toggle map, table buttons *//
    #toggle-map-table {
        bottom: 60px;
        left: 10px;
        right: auto;
    }<% } %>

    <% if (templateColors) { %>.legend_colors {
        font-size: 14px;
    }<% } %>

    #search_box_text {
        display: none;
    }

    #geocoder {
        float: right;

        .geocodifyInput {
            width: 125px;
        }
    }
    
    #geocoder-dropdown {
        display: none;
    }
}

<% if (templateMap) { %>//* Toggle map, table buttons *//
@media (max-width: 575px)  {
    //* Leaflet controls *//
    .leaflet-top {
        display: none;
    }
}<% } %>

<% if (templateDataTables || templateRegularTable) { %>// Table styles
@media (max-width: 575px)  {
    #content-box {
        .table-bordered {
            border: 0px solid #FFF;
        }
    }

    #content-box {
        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr { 
            display: block; 
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        
        tr {
            border-top: 1px solid #333;
            border-bottom: 15px solid #FFF;
        }

        td {
            background-color: #f9f9f9;
        }

        td:first-child {
            font-size: 14px;
            font-weight: bold;
            background-color: #EAEBFF;
        }

        td { 
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 50%; 
        }
        
        td:before { 
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            left: 6px;
            width: 45%; 
            padding-right: 10px; 
            font-weight: bold;
            white-space: nowrap;
        }

        /* Label the data */
        td:nth-of-type(1):before { content: "Category 1:"; }
        td:nth-of-type(2):before { content: "Category 2:" }
        td:nth-of-type(3):before { content: "Category 3:" }
        td:nth-of-type(4):before { content: "Category 4:" }

    }
    
    <% if (!templateMap) { %>/* Show footer */
    #footer-table {
        display: block;
    }<% } %>

}<% } %>


<% if (templateDropdownGeoJSONAttributes) { %>@media (max-width: 525px)  {
    #mobile_headers select {
        width: 75%;
    }
}

@media (max-width: 425px)  {
    #mobile_headers select {
        width: 98%;
    }
}<% } %>


<% if (templateDataTables) { %>// DataTable styles
@media (max-width: 625px)  {
    #content-table_wrapper > div:nth-child(3) > div:nth-child(1), #content-table_wrapper > div:nth-child(3) > div:nth-child(2) {
        width: 100%;
        margin: 0px;
    }
}

@media (max-width: 475px)  {
    .dataTables_wrapper {
        .row-fluid .span6 {
            width: 100%;
            margin: 0px;
        }

        .dataTables_length {
            float: left;
            width: 98%;
            padding-right: 1%;
            padding-left: 1%;

            select, label {
                width: 100%;
                font-size: 16px;
                font-weight: bold;
            }

            select {
                height: 30px;
            }
        }

        .dataTables_filter {
            float: left;
            width: 98%;
            padding-top: 15px;
            padding-right: 1%;
            padding-left: 1%;
            padding-bottom: 15px;
            padding-top: 15px;

            label {
                width: 100%;
                text-align: left;
                font-size: 16px;
                font-weight: bold;
            }

            input {
                width: 97%;
                padding-left: 2%;
                padding-right: 0px;
                padding-top: 2%;
                padding-bottom: 2%;
            }
        }
    }
}<% } %>

<% if (templateRegularTable) { %>// Footer nav box
@media (max-width: 475px)  {
    #footer-table {
        display: block;
    }
}<% } %>

<% if (!templateMap) { %>
@media (max-width: 320px) {
    #header-footer-geocoder h4 {
        font-size: 14px;
    }
}

@media (max-width: 280px) {
    #header-footer-geocoder h4 {
        font-size: 10px;
    }
}

@media (max-width: 260px) {
    #header-footer-geocoder img {
        display: none;
    }
}<% } %>